*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.header {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    width: 100%;
}

.main-title {
    color: #004B87;
    font-size: 34px;
}

.sub-title {
    color: #004B87;
    font-size: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.language-select {
    margin-top: 10px;
}

.password-section,
.guid-section {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    max-width: 900px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.results {
    margin: 10px 0 20px 0;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    word-break: break-all;
}

#bulk-guid-result {
    max-height: var(--bulk-guid-result-height, 300px);
    overflow-y: auto;
}


.formatted-guid {
    margin-bottom: 5px;
    white-space: nowrap;
}

h2 {
    color: #004B87;
}

span {
    display: flex;
    align-items: center;
}

label {
    display: block;
    margin-top: 5px;
}

input[type="number"],
input[type="checkbox"] {
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1e77bc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button.copied {
    background-color: #28a745;
}

footer {
    background-color: #333;
    color: #ffffff;
    padding: 20px 0;
    margin-top: 30px;
    width: 100%;
}

.footer-p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-size: 14px;
}

footer a {
    color: #7db6ee;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .wrapper {
        padding: 15px;
    }

    .container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .password-section,
    .guid-section {
        width: 100%;
        padding: 5px;
    }
}



.language-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 10px auto;
    height: 85px;
}

.swe-flag {
    width: 50px;
    height: auto;
    margin: 5px;
    transition: transform 0.3s ease;
}

.uk-flag {
    margin: 10px;
    width: 50px;
    height: auto;
    transition: transform 0.3s ease;
}

.language-label {
    width: 150px;
    height: 55px;
    position: relative;
    display: block;
    background: #004B87;
    border-radius: 100px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(167, 56, 204, 0.4);
    cursor: pointer;
    transition: 1.9s;

}

.language-label span{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;
}

.language-label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(45deg, #004B87, #FFCD00, #0ff, #004B87, #f00);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4), 0px -5px 15px rgba(127, 233, 70, 0.4);
    transition: 1.9s;
    animation: ease-out 6s;
}

.language-input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.language-input:checked+.language-label {
    background: #C8102E;
}

.language-input:checked+.language-label::after {
    transform: rotate(360deg);
    left: 95px;
    background: linear-gradient(180deg, #012169, #012169, #FFFFFF, #C8102E, #FFFFFF, #012169, #012169);
    transition: 3s;
    animation: ease-out 3s;

}

.language-label:active:after {
    width: 40px;
    height: 40px;
}

.flag-switch:hover {
    transform: scale(1.1);
}

/* .language-input:checked+.language-label::after {
    transform: rotate(360deg);
    left: 95px;
    background: linear-gradient(180deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);   
    transition: 5s;

} */